<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hc.dnvip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui_lsn_1.LSN1Activity"/>
        <activity android:name=".ui_lsn_2.LSN2Activity"/>
        <activity android:name=".ui_lsn_3.ShaderUseActivity"/>
        <activity android:name=".ui_lsn_3.BitmapShaderActivity"/>
        <activity android:name=".ui_lsn_3.LinearGradientActivity">
        </activity>
        <activity android:name=".ui_lsn_3.SweepGradientActivity">
        </activity>
        <activity android:name=".ui_lsn_3.RadialGradientActivity">
        </activity>
        <activity android:name=".ui_lsn_4_paint.PaintColorFilterXfermodeActivity">
        </activity>
        <activity android:name=".ui_lsn_4_paint.ColorFilterActivity">
        </activity>
        <activity android:name=".ui_lsn_4_paint.XfermodeActivity">
        </activity>
        <activity android:name=".ui_lsn_5_canvas.CanvasActivity">
        </activity>
        <activity android:name=".ui_lsn_6_canvas_drawable.CanvasDrawableActivity">
        </activity>
        <activity android:name=".ui_lsn_7_Bezier.BezierQQActivity">
        </activity>
    </application>

</manifest>